<html>

<head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/api">Tech Mahindra</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/api">Home <span class="sr-only">(current)</span></a>
      </li>
       {{#unless user}}
      <li class="nav-item">
        <a class="nav-link" href="/api/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/register">Register</a>
      </li>
         {{/unless}}
           {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/api/logout">Logout</a>
      </li>
         {{/if}}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" placeholder="Search" type="text">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  </nav>
  </head>
  <body>
    <div align="center">


    <form method="post" action="/api/register">
      <div class="container">
        <h1 class="sty" style="color:rgb(36, 94, 184);font-size:350%;">Register</h1>
        <p class="sty">Please fill in this form to create an account.</p>
        <hr>

        <p class="sty"><b>Email</b></p>
        <input type="email" placeholder="Enter Email" name="email" >

        <p class="sty"><b>Username</b></p>
        <input type="text" placeholder="Enter Username" name="username" >
        <p class="sty"><b>Password</b></p>
        <input type="password" placeholder="Enter Password" name="password" >

         <p class="sty"><b>Repeat-Password</b></p>
        <input type="password" placeholder="Repeat Password" name="password2" >

    <p class="text-danger">{{{errors}}}</p>

        <hr>
        <p>By creating an account you agree to our <a href="#" class="cc">Terms & Privacy</a>.</p>

        <button type="submit" class="btn btn-outline-success" name="submit" onclick="myF()">Register</button>
      </div>

      <div class="container signin">
        <p class="sty">Already have an account?<a href="/api/login" class="cc">Sign in</a>.</p>
      </div>
    </form>
    </div>

    </body>
    </html>
